name: Sync to Google Drive

on:
  push:
    branches:
      - main

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Updated to latest checkout version

      - name: Zip Repository
        run: zip -r repository.zip . -x "*.git*" # This zips your repo for easy upload

      - name: Upload to Google Drive
        uses: JuergenHess/publish-to-google-drive@v2.1
        with:
          filename: repository.zip
          folderId: ${{ secrets.GDRIVE_FOLDER_ID }}
          credentials: ${{ secrets.GDRIVE_CREDENTIALS_DATA }}
          overwrite: true
