name: Sync to Google Drive

on:
  push:
    branches:
      - main

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Zip Repository
        run: zip -r repository.zip . -x "*.git*"

      - name: Upload to Google Drive
        uses: adityak74/google-drive-upload@v1.1
        with:
          credentials: ${{ secrets.GDRIVE_CREDENTIALS_DATA }}
          filename: repository.zip
          folderId: ${{ secrets.GDRIVE_FOLDER_ID }}
          overwrite: "true"
